@import url('https://fonts.googleapis.com/css?family=Poppins');
@import '../../../node_modules/vuetify/dist/vuetify.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';

* {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: $featured;
    border-color: $featured-dark;
    &:hover {
        background-color: $featured-dark;
    }
}