<template>
<v-container>
  <v-form ref="form">
    <v-dialog v-model="dialog" max-width="1000px" persistent>
        <v-card>
          <v-card-title>
            Adicionar um novo gasto
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="8">
                <v-text-field color="var(--featured)" v-model="description" :rules="descriptionRules" label="Descrição:"></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field color="var(--featured)" type="number" v-model="value" :rules="valueRules" label="Valor (R$):" required></v-text-field>
              </v-col>
              <v-col align="center">
                <v-file-input ref="file_input" color="var(--featured)" accept="image/*" @change="handleFile($event)" label="Adicionar Comprovante"></v-file-input>
                <!-- <v-btn outlined width="50%" @click="openFileDialog">Adicionar Comprovante</v-btn> -->
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn color="var(--dark-medium)" dark @click="closeDialog">Fechar</v-btn>
            <v-btn color="var(--featured)" dark @click="newExpense()">
              <template v-if="loading">
                <v-icon>mdi-loading mdi-spin</v-icon>
                Incluindo...
              </template>
              <template v-else>
                Incluir novo gasto
              </template>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-form>

  <nav class="nav" justify="space-between">
    <v-list color="var(--dark-medium)">
      <v-list-item v-for="(link) in links" :key="link.text" active-class="orange--text" class="nav-link" router :to="link.route">
        <v-list-item-action>
          <v-icon class="white--text">{{ link.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-subtitle class="white--text">{{ link.text }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <br/>
    <div align="center">
      <v-btn outlined color="var(--featured)" @click="dialog = !dialog"><v-icon>mdi-plus</v-icon> Novo Gasto</v-btn>
    </div>
  </nav>

  <v-btn text class="white--text" width="100%" @click="logout"><v-icon>mdi-logout-variant</v-icon>Sair</v-btn>

</v-container>
</template>

<script>
import LayoutLogout from './LayoutLogout'
import LayoutNewExpenses from './LayoutNewExpenses'
import BaseSpinner from '../global/BaseSpinner'

export default {
  component: {
    LayoutLogout,
    LayoutNewExpenses,
    BaseSpinner
  },
  data: () => ({
    dialog: false,
    loading: false,
    descriptionRules: [
      v => !!v || 'O campo Descrição é obrigatório.'
    ],
    valueRules: [
      v => !!v || 'O campo Valor é obrigatório.'
    ],
    description: '',
    value: 0,
    receipt: '',
    links: [
      { icon: 'mdi-home', text: 'Home', route: '/' },
      { icon: 'mdi-format-list-checks', text: 'Lista Gastos', route: '/expenses-list' }
    ]
  }),

  computed: {
    fileName () {
      if (this.receipt) {
        const split = this.receipt.name.split('.')
        return `${split[0]}-${new Date().getTime()}.${split[1]}`
      } else {
        return ''
      }
    }
  },

  methods: {

    async logout () {
      this.$root.$emit('Spinner::show')
      await setTimeout(() => {
        this.$firebase.auth().signOut()
        // this.$router.push({ name: 'Login' }) // essas linhas davam como redundantes pelo console
        // this.$root.$emit('Spinner::hide')
      }, 1000)
    },

    closeDialog () {
      this.dialog = false
      this.description = ''
      this.value = 0
    },

    // openFileDialog () {
    //   this.$refs.file_input.value = null
    //   this.$refs.file_input.click()
    // },

    handleFile (ev) {
      this.receipt = ev
      console.log(this.file)
    },

    async newExpense () {
      let url = ''
      this.loading = true
      try {
        const validate = this.$refs.form.validate()
        if (validate) {
          this.$root.$emit('Spinner::show')
          const ref = this.$firebase.database().ref(window.uid)
          const id = ref.push().key

          if (this.receipt) {
            const snapshot = await this.$firebase.storage()
              .ref(window.uid)
              .child(this.fileName)
              .put(this.receipt)

            url = await snapshot.ref.getDownloadURL()
          }

          const payload = {
            id,
            receipt: url,
            value: this.value,
            createdAt: new Date().getTime(),
            description: this.description
          }

          ref.child(id).set(payload, err => {
            if (err) {
              this.$root.$emit('Notification::show', {
                type: 'error',
                message: 'Não foi possível inserir o gasto, tente novamente.'
              })
              this.loading = false
            } else {
              this.$root.$emit('Notification::show', {
                type: 'success',
                message: 'Gasto inserido com successo.'
              })
              this.dialog = false
              this.loading = false
            }
          })
        } else {
          this.$root.$emit('Notification::show', {
            type: 'error',
            message: 'Não foi possível inserir o gasto, tente novamente'
          })
        }
      } catch (err) {
        this.$root.$emit('Notification::show', {
          type: 'error',
          message: 'Não foi possível inserir o gasto, tente novamente'
        })
        this.loading = false
      } finally {
        this.$root.$emit('Spinner::hide')
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.nav{
  margin-left: -15px;
  margin-right: -23px;
  height: calc(100vh - 124px);
}
.nav-link{
  &:hover{
    color: red;
    background-color: var(--featured);
  }
}
</style>
