<template>
    <v-btn class="btn-logout">Sair</v-btn>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.btn-logout{

  width: 100%;
  color: var(--light);
  &:hover{
    color: var(--featured);
  }
}
</style>
