<template>
  <div class="alert" v-if="show">
    <v-alert
      close-text="Close Alert"
      :color="`${type}`"
      dark
      dismissible
    >
      {{ message }}
    </v-alert>
  </div>
</template>

<script>
export default {
  data: () => ({
    show: false,
    type: 'error',
    message: ''
  }),
  created () {
    this.$root.$on('Notification::show', payload => {
      this.show = true
      this.type = payload.type
      this.message = payload.message

      setTimeout(() => {
        this.close()
      }, payload.timeout || 4000)
    })
  },
  methods: {
    close () {
      this.message = ''
      this.type = 'error'
      this.show = false
    }
  }
}
</script>

<style lang="scss" scoped>
.alert{
  top: 20px;
  right: 20px;
  z-index: 1000;
  max-width: 400px;
  position: absolute;
}
</style>
