<template>
<div>
  <v-btn class="blue">Novo Gasto</v-btn>

  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card>
      <v-card-title>
        asdasdasd
      </v-card-title>
      <v-card-text>
        <v-text-field color="red" label="Nome do Produto"></v-text-field>
        <v-text-field color="red" label="Valor do Produto"></v-text-field>
        <v-text-field color="red" label="Categoria do Produto"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-btn color="red" dark>Cancelar</v-btn>
        <v-btn color="green" dark >Salvar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
export default {
  data: () => ({
    dialog: true
  })
}
</script>

<style lang="scss" scoped>

</style>
