<template>
  <v-container class="home">
    <v-row>
      <v-col cols="6" class="home-box">
        <small>Você gastou</small>
        <div class="money" v-money-format="totals.totalSpent"></div>
        <small>em {{ expenses.length }} compras</small>
      </v-col>
      <v-col cols="6" class="home-box">
        <small>A média de gastos é de</small>
        <div class="money" v-money-format="totals.average"></div>
      </v-col>
      <v-col cols="6" class="home-box">
        <small>O maior gasto foi de</small>
        <div class="money" v-money-format="totals.highest.value"></div>
        <small v-date-format="totals.highest.createdAt"></small>
      </v-col>
      <v-col cols="6" class="home-box">
        <small>O menor gasto foi de</small>
        <div class="money" v-money-format="totals.lowest.value"></div>
        <small v-date-format="totals.lowest.createdAt"></small>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'Home',
  components: {

  },
  data: () => ({
    expenses: []
  }),
  created () {
    this.getData()
  },
  computed: {
    totals () {
      const { expenses: exp } = this
      const values = {
        totalSpent: 0,
        average: 0,
        highest: {},
        lowest: {}
      }

      if (exp.length) {
        values.totalSpent = exp.map(e => +e.value)
          .reduce((acc, cur) => acc + cur, 0)

        values.average = values.totalSpent / exp.length

        values.highest = exp.sort((a, b) => b.value - a.value)[0]

        values.lowest = exp.sort((a, b) => a.value - b.value)[0]
      }

      return values
    }
  },
  methods: {
    getData () {
      const ref = this.$firebase.database().ref(`/${window.uid}`)

      ref.on('value', data => {
        const values = data.val()
        this.expenses = Object.keys(values).map(i => values[i])

        console.log(this.expenses)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.home{
  .home-box{
    width: 100%;
    height: calc(50vh - 25px);
    display: flex;
    flex-direction: column;
    font-size: 30pt;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-medium);
    small{
      font-size: 1.3rem;
    }
    .money{
      color: var(--featured);
    }
    &:nth-child(2), &:nth-child(4){
      border-left: none;
    }
    &:nth-child(3), &:nth-child(4){
      border-top: none;
    }
  }
}
</style>
