<template>
  <v-container>
    <v-row style="height: 100vh">
      <v-form ref="form" class="mx-auto my-auto white" style="width: 300px">
        <v-card>
          <v-card-title class="justify-center title">Expenses</v-card-title>

          <v-card-text>
            <v-text-field
              type="email"
              label="E-mail"
              v-model="email"
              :rules="emailRules"
              color="var(--featured)"
              required
            ></v-text-field>
            <v-text-field
              type="password"
              label="Senha"
              v-model="password"
              :rules="passwordRules"
              required
              color="var(--featured)"
            ></v-text-field>
          </v-card-text>

          <v-card-actions>
            <v-btn block class="squared btn-primary white--text" :disabled="loading" @click="doLogin">
              <template v-if="loading">
                <v-icon>mdi-loading mdi-spin</v-icon>
                Entrando...
              </template>
              <template v-else>
                <v-icon>mdi-login-variant</v-icon>
                Entrar
              </template>
            </v-btn>
          </v-card-actions>

        </v-card>
      </v-form>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    loading: false,
    password: process.env.NODE_ENV === 'development' ? 'lucasvieira98' : '',
    passwordRules: [
      v => !!v || 'Senha é obrigatório'
    ],
    email: process.env.NODE_ENV === 'development' ? 'vieira_lucas98@outlook.com' : '',
    emailRules: [
      v => !!v || 'E-mail é obrigatório',
      v => /.+@.+\.+/.test(v) || 'E-mail deve ser válido'
    ]
  }),
  methods: {
    async doLogin  () {
      const validate = this.$refs.form.validate()
      if (validate) {
        this.loading = true
        const email = this.email
        const password = this.password
        try {
          const res = await this.$firebase.auth().signInWithEmailAndPassword(email, password)
          window.uid = res.user.uid
          // this.$router.push({ name: 'Home' }) linha redundante segundo o console
        } catch (err) {
          let message = ''
          switch (err.code) {
            case 'auth/user-not-found':
              message = 'Não foi possível localizar o usuário.'
              break
            case 'auth/wrong-password':
              message = 'Senha inválida.'
              break
            default:
              message = 'Não foi possível fazer login, tente novamente.'
          }

          this.$root.$emit('Notification::show', {
            type: 'error',
            message
          })
        }
        setTimeout(() => {
          this.loading = false
        }, 2000)
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (window.uid) {
        vm.$router.push({ name: 'Home' })
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.squared{
  border-radius: 0px;
}
</style>
