<template>

  <v-app>
    <base-spinner></base-spinner>
    <layout-notification></layout-notification>

    <div v-if="isLogged">
      <v-row>
        <v-col cols="2" class="navigation-sidebar">
          <h1 class="app-title">Expenses</h1>
          <layout-navigation></layout-navigation>
        </v-col>
        <v-col>
          <router-view></router-view>
        </v-col>
      </v-row>
    </div>

    <router-view v-else></router-view>

  </v-app>
</template>

<script>
import BaseSpinner from './components/global/BaseSpinner'
import LayoutNavigation from './components/layout/LayoutNavigation'
import LayoutNotification from './components/layout/LayoutNotification'

export default {
  name: 'App',

  data: () => ({
    isLogged: false
  }),

  components: {
    BaseSpinner,
    LayoutNavigation,
    LayoutNotification
  },

  methods: {
    mostrarSpinner () {
      this.$root.$emit('Spinner::show')
    }
  },

  mounted () {
    this.$firebase.auth().onAuthStateChanged(user => {
      window.uid = user ? user.uid : null
      this.isLogged = !!user

      this.$router.push({ name: window.uid ? 'Home' : 'Login' })

      setTimeout(() => {
        this.$root.$emit('Spinner::hide')
      }, 300)
    })
  }
}
</script>

<style lang="scss" scoped>
#app{
  min-height: 100vh;
  color: var(--light);
  background-color: var(--darker);
  .navigation-sidebar{
    background-color: var(--dark-medium)
  }
  .app-title{
    font-size: 20pt;
    text-align: center;
  }
}
</style>
