<template>
<v-container>
  <v-toolbar color="var(--featured-dark)" absolute dark class="months-navigation">
    <v-toolbar-items
    class="hidden-sm-and-down"
    v-for="(month, i) in groupedMonths"
    :key="i"
    :class="{ active: month.month === activeMonth.month }"
    @click="setActiveMonth(month)">
      <v-btn text>
        <div>
          <div>{{ month.month }}</div>
          <div v-money-format="month.total"></div>
        </div>
      </v-btn>
      <v-divider vertical></v-divider>
    </v-toolbar-items>
  </v-toolbar>

  <br>

  <div class="test">
    <v-container class="container">
      <template v-if="activeMonth.data && !activeMonth.data.length">
        Você não cadastrou nenhum gasto este mês.
      </template>
      <template v-else>
        <expense-list-item
        :key="index"
        :data="item"
        v-for="(item, index) in activeMonth.data">
        </expense-list-item>
      </template>
    </v-container>
  </div>
</v-container>
</template>

<script>
import moment from 'moment'
import groupBy from 'lodash.groupby'
import ExpenseListItem from './ExpenseListItem'

export default {
  name: 'ExpenseList',
  components: {
    ExpenseListItem
  },
  data: () => ({
    expenses: [],
    activeMonth: {}
  }),
  created () {
    this.getData()
  },
  mounted () {
    this.setActiveMonth()
  },
  computed: {
    groupedMonths () {
      let groupedMonths = []

      const addCurrentMonth = () => {
        groupedMonths.push({
          data: [],
          total: 0,
          month: moment().format('MM/YYYY')
        })
      }

      if (this.expenses.length) {
        const months = groupBy(this.expenses, i => (
          moment(i.createdAt).format('MM/YYYY')
        ))

        const sortedMonths = Object.keys(months).sort((a, b) => {
          const pattern = 'MM/YYYY HH'

          if (moment(`${a}`, pattern).isBefore(moment(`${b}`, pattern))) {
            return -1
          } else {
            return +1
          }
        })

        groupedMonths = sortedMonths.map(month => ({
          month,
          data: months[month],
          total: months[month].map(i => +i.value).reduce((a, c) => a + c, 0)
        }))

        const lastMonth = moment(groupedMonths[groupedMonths.length - 1].month, 'MM/YYYY')

        if (!lastMonth.isSame(moment(), 'month')) {
          addCurrentMonth()
        }
      } else {
        addCurrentMonth()
      }

      return groupedMonths
    }
  },
  methods: {
    getData () {
      const ref = this.$firebase.database().ref(`/${window.uid}`)

      ref.on('value', snapshot => {
        const values = snapshot.val()
        this.expenses = Object.keys(values).map(i => values[i])
      })
    },
    setActiveMonth (month = null) {
      this.activeMonth = month || this.groupedMonths[this.groupedMonths.length - 1]
    },
    defineActiveMonth (month) {
      return moment(month, 'MM/YYYY').isSame(moment(), 'month')
    }
  }
}
</script>

<style lang="scss" scoped>
.months-navigation{
  margin-left: -12px;
  width: calc(100% + 30px);
  &:hover{
    background-color: var(--featured);
  }
}
.active{
    background-color: var(--featured);
  }
.container{
  font-size: 15pt;
  padding: 0px;
}
.test{
  font-size: 15pt;
  margin-top: 15px;
  margin-left: 15px;
  overflow: hidden auto;
  width: calc(100% + 30px);
  height: calc(100vh - 69px);
}
</style>
