<template>
  <v-row class="expense-list-item">
    <v-col cols="10">
      <div class="description">
        <span>{{ data.description }}</span>
        <v-btn outlined color="var(--featured)" small v-if="data.receipt" @click="openReceipt">
          <v-icon left>mdi-paperclip</v-icon>
          Ver comprovante
          <v-icon right>mdi-open-in-new</v-icon>
        </v-btn>
      </div>
      <small v-date-format="data.createdAt"></small>
    </v-col>
    <v-col cols="2" v-money-format="data.value"></v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    data: { type: Object, required: true }
  },
  methods: {
    openReceipt () {
      window.open(this.data.receipt, '_blank')
    }
  }
}
</script>

<style lang="scss" scoped>
.expense-list-item{
  border-bottom: 1px solid var(--dark-medium);
  .description{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
